.buy_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 80px;
  position: relative;
  /* Needed for bubble positioning */
  overflow: hidden;
  /* Hide overflow from bubbles */
  z-index: 0;
}